# Tasks

## Importing Libraries

**import**

In [2]:

import pandas as pd
import numpy as np
import os

## Importing Dataframes

**Here is the path**

In [7]:

path =r'C:\Users\Ruf\Desktop\Alessia\Instacart Basket Analysis-Alessia'

**Import df_prods**

In [9]:

df_prods =  pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## Task 3 - Import Pickle

In [10]:
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Task 4 - Check Shape of Dataframe

In [11]:
df_ords_prods_combined.shape

(32434489, 12)

## Task 5 - Merge Dataframe with Prods

**Check columns of df_ords_prods_combined**

In [13]:

df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

## Check shape of df_prods

In [14]:

df_prods.shape

(49672, 6)

**Check columns of df_prods**

In [15]:

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

**Drop  merge column in df_ords_prods_combined, since we don't need it**

In [16]:

df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

**Product_id is present in both dataframes, so we can use it as key**

In [17]:

df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [19]:
df_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

**Drop first 2 unneccesary columns**

In [19]:

df_merged = df_merged.drop(columns = ['Unnamed: 0.1','Unnamed: 0_x'])

In [20]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,first order,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

## Task 6 - Confirm the results using merge flag

In [21]:
df_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [26]:
df_merged.shape

(32404859, 17)

## Task 7 - Export

In [27]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))